<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-padding="">
	<md-card flex="100">
	    <md-card-content>
		    <form name="form" novalidate="novalidate" >
				<div layout-align="start end">
					<md-input-container flex="30" flex-sm="100" flex-md="100" flex-xs="100"> 
						<label for="process_number" flex-sm="100" flex-md="100" flex-xs="100"	data-th-text="#{ui.labels.process_number}"></label> 
						<input id="process_number" name="process_number" type="text"
							focus-me=""  tabindex="1" ng-model="searchVm.process_number"
							required="required" maxlength="12"
							ng-model-options="{updateOn: 'default blur', debounce: {default: 0, blur: 0} }" 
							fp-process-number-validator="" />
						<div ng-messages="form.process_number.$error" ng-show="form.process_number.$dirty">
							<div ng-message="required" data-th-text="#{ui.messages.required_value}"></div>
							<div ng-message="checksum" data-th-text="#{ui.messages.invalid_process_number}"></div>
						</div>
					</md-input-container>
				</div>
				<div layout-align="start end" ng-show="searchVm.showMsg"
					class="md-body-1 red-text">{{searchVm.msg}}</div>
				<div layout-align="ritgh">
					<md-button class="md-primary md-raised" tabindex="2" type="submit"
						ng-click="searchVm.submit(processForm.$valid, $event)"
						ng-disabled="form.$pristine &#124;&#124; form.$invalid"
						data-th-text="#{ui.labels.submit}"></md-button>
					<md-button tabindex="3" type="reset"
						ng-click="searchVm.clear(searchForm)"
						ng-disabled="form.process_number.$pristine"
						data-th-text="#{ui.labels.clear}"></md-button>
				</div>
			</form>
		</md-card-content>
	</md-card>
</div>


	